.pannell-User {
    background: #1d192b !important;
    box-shadow: 8px 7px 13px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 20px;
/*     padding-left: 25px;
    padding-right: 25px; */
    padding-left: 10px;
    padding-right: 10px;
    width: 120vh;
    display: flex;
    justify-content: center;
    transform: scale(0.9);
    transform-origin: top center; 
  
    align-items: center;
    margin-top:  10vh;
    flex-wrap: wrap;
  }

  .buttonConsegna{
    background-color: #89f60d !important;
    color: #1d182e !important;
    font-family: "Futura Md BT" !important;
    font-style: normal;
  
    text-align: center !important;
  
    border: none !important;
}

.buttonGuasto, .buttonRed{
    background-color: #ef462c !important;
    color: #1d182e !important;
    font-family: "Futura Md BT" !important;
    font-style: normal;
  
    text-align: center !important;
  
    border: none !important;
}

.buttonGuasto:hover:enabled, .buttonRed:hover:enabled{
    box-shadow: 0px 0.5px 10px 0.5px #ef462c !important;
 
}

.buttonGuasto:disabled, .buttonRed:disabled{
    background-color: #b3b3b3 !important;
    
 
}




.buttonConsegna:hover:enabled{
    box-shadow: 0px 0.5px 10px 0.5px #89f60d !important;
 
}

.buttonRitiro{
    background-color: #0df6e3 !important;
    color: #1d182e !important;
    font-family: "Futura Md BT" !important;
    font-style: normal;
  
    text-align: center !important;
  
    border: none !important;
}

.buttonRitiro:hover:enabled{
    box-shadow: 0px 0.5px 10px 0.5px #0df6e3 !important;
 
}

.buttonConsegna:disabled{
    background-color: #b3b3b3 !important;
    
 
}

.buttonRitiro:disabled{
    background-color: #b3b3b3 !important;
 
}



.cardStallo{
    min-width: 52vw;


}
