@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://db.onlinewebfonts.com/c/e55e9079ee863276569c8a68d776ef04?family=Futura+Md+BT");

.pannelLogin {
  width: 490px;
  height: 620px;
  left: 800px;
  top: 153px;
  
  background: #1d192b;
  box-shadow: 8px 7px 13px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  transform: scale(0.7);
  
}
.pannell {
  width: 590px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #1d192b !important;
  box-shadow: 8px 7px 13px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  transform: scale(0.7); 
  display: flex;
  align-items: start;
}

#emailLogin,
#pswLogin {
  height: 55px;

  background: #39304d;
  border-radius: 10px;
  border: none;
  color:lavender;
}

.formEmail {
  margin-top: 60px;
}

.buttonLogin {
  background-color: #0df6e3 !important;
  color: #1d182e !important;
  font-family: "Lato" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  text-align: center !important;
  width: 152px;
  height: 50px;
  border: none !important;
  margin-top: 30px;
  border-radius: 41.5px !important;
}

.buttonLogin:hover {
  background-color: #0df6e3 !important;
  color: #1d182e !important;
  font-family: "Lato" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  text-align: center !important;
  width: 152px;
  height: 50px;
  border: none !important;
  box-shadow: 0px 0.5px 10px 0.5px #00f0ff !important;
  border-radius: 41.5px !important;
}

.form-control:focus {
  height: 45px;
  background: #39304d;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0.5px 10px 0.5px #00f0ff !important;
  border-radius: 10px !important;
}

.title {
  margin-top: 10px!important;
  margin-bottom: 30px!important;
  font-family: "Futura Md BT" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 58px;

  color: #ffffff;
}


.titleLogin {
  margin-top: 35px!important;
  margin-bottom: 30px!important;
  font-family: "Futura Md BT" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 58px;

  color: #ffffff;
}


.sfondo{
  margin-right: 0px!important; 
  margin-left: 0px!important;
  background-image: url(../images/sfondoLogin.svg);
  width: 100%;
  height:100vh;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageLogo{
    transform: scale(0.6);
}

@media only screen and (max-width: 1100px) {
  /* For mobile phones: */
  .imageLogo { display: none; }
  .pannelLogin{
   
    background: #1d192b;
    box-shadow: 8px 7px 13px rgb(0 0 0 / 25%);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    transform: scale(0.7);
  }
  .navMobile {
    display: inherit!important;
    position: fixed!important;
    width: 100%;
  }
  .boxpannel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

#root {
  overflow-x: hidden;
  height: 100%;
}

label{
  font-family: 'Poppins-Regular';
  font-size: initial;
}


  

