.bg-pannell-card{
    width: 590px;
   /*  padding-top: 60px;
    padding-bottom: 60px; */
    padding: 40px;
    background: #1d192b !important;
    box-shadow: 8px 7px 13px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
/*     display: flex;
    justify-content: center; */
    transform: scale(0.7); 
    top: -220px;
   /*  display: flex;
    align-items: start; */
}