.recoveryPannel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
.formEmail {
    margin-top: 60px;
  }

.pannelRecuperoPassword {
    width: 490px;
  
    background: #1d192b;
    box-shadow: 8px 7px 13px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    transform: scale(0.7);
    align-content: center;
  }

.buttonRecovery {
    background-color: #0df6e3 !important;
    color: #1d182e !important;
    font-family: "Lato" !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    text-align: center !important;
    width: 152px;
    height: 50px;
    border: none !important;
    margin-top: 30px;
    border-radius: 41.5px !important;
    margin-bottom: 60px;
}

.title {
    margin-top: 60px;
    font-family: "Futura Md BT" !important;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 58px;
  
    color: #ffffff;
}

.form-control:focus {
    height: 45px;
    background: #39304d;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0.5px 10px 0.5px #00f0ff !important;
    border-radius: 10px !important;
  }

  .buttonRecovery:hover {

    box-shadow: 0px 0.5px 10px 0.5px #00f0ff !important;
  
  }

  #emailRecovery {
  height: 55px;

  background: #39304d;
  border-radius: 10px;
  border: none;
  color:lavender;
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
box-shadow: 0 0 0 1000px #39304d inset !important;
-webkit-text-fill-color: rgb(255, 255, 255) !important;
-webkit-box-border: none!important;
}
