#nome,
#cognome,
#email,
#telefono,
#password,
#dataNascita {
  height: 55px;

  background: #39304d;
  border-radius: 10px;
  border: none;
  color: lavender;
}

.pannell-registrazione {
  width: 590px;
  padding: 5px !important;
  background: #1d192b !important;
  box-shadow: 8px 7px 13px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  transform: scale(0.7);
  display: flex;
  align-items: start;
  transform-origin: top center;
  padding-bottom: 40px !important;
  padding-top: 30px !important;
  margin-top: 20px;
}
.no-scrollable{
  height: 100%!important;
  overflow: hidden!important;
}

.buttonCyano {
  background-color: #0df6e3 !important;
  color: #1d182e !important;
  font-family: "Futura Md BT" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  text-align: center !important;
  width: 152px;
  height: 50px;
  border: none !important;
  margin-top: 30px;
  border-radius: 41.5px !important;
}

.hidden-scrollbar {
  background-color: black;
  border: 2px solid #666;
  color: white;
  overflow: hidden;;
  text-align: justify;
}


.buttonCyano:hover {
  box-shadow: 0px 0.5px 10px 0.5px #00f0ff !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px #39304d inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  -webkit-box-border: none !important;
}

@media only screen and (max-width: 1100px) {
  /* For mobile phones: */

  .boxpannel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
