#parcheggioConsegna, #type{
    height: 45px;
    background: #39304d;
    border-radius: 10px;
    border: none;
    color: lavender;
  
}

.MuiInputBase-input{
    background-color: #39304d!important;
    color: white!important;
    border-radius: 20px!important;
    
}
.MuiFormControl-root{
    
    border-radius: 20px!important;
   
}